<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title><%= title %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <meta name="description" content="Practice French verb conjugation online. Pratiquer vos verbes français en ligne.">

        <link rel="stylesheet" href="bower_components/bootflatv2/css/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/style.css">

		<!-- app -->
		<script src="javascripts/test.js" type="text/javascript" charset="utf-8"></script>

		<!-- lib -->
		<script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="bower_components/underscore/underscore.js" type="text/javascript" charset="utf-8"></script>

		<!-- CDN -->
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

		<!-- startup -->
		<script type="text/javascript" charset="utf-8">
			window.onload = function() {
				test = new Test({
					form: document.getElementById('testForm'),
					controls: document.getElementById('controls'),
					preferences: document.getElementById('preferences'),
					deselectedVerbs: <%- deselectedVerbs %>,
					deselectedMoods: <%- deselectedMoods %>,
					ttsAudioEnabled: <%= ttsAudioEnabled %>
				});
			};
		</script>

    </head>
    <body>

		<div class="paper">
			<!-- "Font Awesome by Dave Gandy - http://fontawesome.io". -->
			<div id="controls">
				<span class="ttsAudioLink link"><i class="volume fa fa-volume-up"></i></span>&nbsp;
				<a class="prefsLink" href="#">pref</a>
			</div>

			<div class="testTitleSection"></div>
			<div class="testTitle"><%= title %></div>

			<div id="preferences" class="preferences">
				<div class="preferencesTitle">Désélectionnez les temps que vous ne voulez pas pratiquer</div>

				<!-- Show the moods -->
				<% for (moodName in moods) { %>
					<% if (moods.hasOwnProperty(moodName) === false) { continue; } %>
					<table class="chooseMoods">
						<tr>
							<td><a href="#" data-mood="<%= moodName %>" class="mood <%= moodName %>"><%= moods[moodName].text %></a></td>
						</tr>
					</table>
				<% } %>

				<div class="preferencesTitle">Désélectionnez les verbes que vous ne voulez pas pratiquer</div>

				<!-- The verbs are stored by difficulty level -->
				<% for(var level=1, maxLevel=verbLevels.length + 1; level < maxLevel; level += 1) { %>
					<div class="difficultyTitle">Niveau <%= level %></div>
					<table class="chooseVerbs">
						<% for(var v=0, numVerbs=verbLevels[level-1].length; v < numVerbs;) { %>
							<tr>
								<% for(var col=0; col < 5 && v < numVerbs; col += 1, v += 1) { %>
									<% var prefVerb = verbLevels[level-1][v] %>
									<td><a href="#" data-verb="<%= prefVerb %>" class="verb <%= prefVerb %>"><%= prefVerb %></a></td>
								<% } %>
							</tr>
						<% } %>
					</table>
				<% } %>

			</div>

			<div class="test">
				<audio src="<%= questionAudio %>" autoplay></audio>

				<div class="testText">
					<!-- Conjugate the verb <verb> in the mood <mood>: <%= perspective %> ___________ ... -->
					Q. <%= questionText %>
				</div>

				<form id="testForm">
					<input type="hidden" name="verb" value="<%= verb %>" />
					<input type="hidden" name="mood" value="<%= mood %>" />
					<input type="hidden" name="perspective" value="<%= perspective %>" />
					<input type="hidden" name="gender" value="<%= gender %>" />
					<div class="testResponse">
						R. <%= questionLeader %> <input id="response" name="response" class="testResponseInput"  autofocus="autofocus" autocomplete="off" />
					</div>
					<div class="answer"></div>
					<div class="conjugationTableContainer"></div>
					<div class="next"><button class="nextButton">next</button</div>
				</form>
			</div>
		</div>

		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-49568533-1', 'practicefrenchverbs.com');
			ga('send', 'pageview');
		</script>
	</body>
</html>
