<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title><%= title %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="bower_components/bootflatv2/css/bootstrap.min.css">
        <link rel="stylesheet" href="bower_components/bootflatv2/bootflat/css/bootflat.min.css">
        <link rel="stylesheet" href="stylesheets/style.css">

		<!-- app -->
		<script src="javascripts/test.js" type="text/javascript" charset="utf-8"></script>

		<!-- lib -->
		<script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="bower_components/underscore/underscore.js" type="text/javascript" charset="utf-8"></script>

		<!-- startup -->
		<script type="text/javascript" charset="utf-8">
			window.onload = function() {
				test = new Test({
					form: document.getElementById('testForm'),
					controls: document.getElementById('controls'),
					deselectedVerbs: <%- deselectedVerbs %>
				});
			};
		</script>

    </head>
    <body>

		<div class="paper">
			<div id="controls">
				<a class="prefsLink" href="#">pref</a>
			</div>

			<div class="testTitleSection"></div>
			<div class="testTitle"><%= title %></div>

			<div class="preferences">
				<div class="preferencesTitle">Select which verbs you would like to practice.</div>

				<!-- The verbs are stored by difficulty level -->
				<% for(var level=1, maxLevel=verbLevels.length + 1; level < maxLevel; level += 1) { %>
					<div class="difficultyTitle">Difficulty <%= level %></div>
					<table class="chooseVerbs">
						<% for(var v=0, numVerbs=verbLevels[level-1].length; v < numVerbs; v += 1) { %>
							<tr>
								<% for(var col=0; col < 5 && v < numVerbs; col += 1) { %>
									<td><a href="#" class="verb"><%= verbLevels[level-1][v] %></a></td>
									<% v += 1 %>
								<% } %>
							</tr>
						<% } %>
					</table>
				<% } %>
			</div>

			<div class="test">
				<audio src="<%= questionAudio %>" autoplay></audio>

				<div class="testText">
					<!-- Conjugate the verb <verb> in the mood <mood>: <%= perspective %> ___________ ... -->
					Q. <%= questionText %>
				</div>

				<form id="testForm">
					<input type="hidden" name="verb" value="<%= verb %>" />
					<input type="hidden" name="mood" value="<%= mood %>" />
					<input type="hidden" name="perspective" value="<%= perspective %>" />
					<input type="hidden" name="gender" value="<%= gender %>" />
					<div class="testResponse">
						A. <%= questionLeader %> <input name="response" class="testResponseInput"  autofocus="autofocus" autocomplete="off" />
					</div>
					<div class="answer"></div>
					<div class="conjugationTableContainer"></div>
					<div class="next"><button class="nextButton">next</button</div>
				</form>
			</div>
		</div>
	</body>
</html>
